<h1>Welcome restaurant owners</h1>
<p>You can create a profile of your restaurants here and let the whole world know about your business.</p>

<h3>Here are all the restaurants that have joined us:</h3>
<% @restaurants.each do |restaurant|%>
<%= restaurant.name %>
<%= restaurant.phone %>
<br>
<% end %>

