<h1>Thanks for choosing SeatYourself</h1>
<p>This will take you a few minutes to fill in all the details below</p>

<h2>User Information</h2>
<%= render "bu_form" %>

<h2>Restaurant Information</h2>
<%= render "restaurant_form" %>
