<!-- This is the root page of the app -->
<h1>Welcome to SeatYourself</h1>

<!-- All the registered restaurants are listed here -->
<h3>Here are all the restaurants that have joined us:</h3>
<% @restaurants.each do |restaurant|%>
<%= link_to restaurant.name, restaurant_path(restaurant) %>
<%= restaurant.phone %>
<br>
<% end %>
