<h1>Welcome to SeatYourself</h1>
<p>The first phase on the project is to built a CRUD function for restaurant owners to create their own profile.</p>
<p>Restaurant owners can signup or login to :</p>
<p>CRUD their own resaurant profile</p>
<p>anyone can view the list of restuarants with full details.</p>